body{
  padding:0;
  margin:0;
  font-family: Calibri;
}
.container{
  width:80%;
  margin:auto;
}
/* header */
nav{
  background-color: #2969B0;
  height: 70px;
  width:100%;
  position:fixed;
  top:0;
}
.logo img{
  height:40px;
  float:left;
  padding:10px 0;
}
.logo h2{
  font-family:Calibri;
  color:white;
  float:left;
  font-size:35px;
  margin-left: 10px;
  margin-top: 15px;
}
.menu{
  float:right;
  margin:5px 0;
}
.menu ul li{
  display:inline;
  padding:20px 20px;
  border-radius:5px;
}
.menu li a{
  text-decoration:none;
  font-family:Calibri;
  font-size:20px;
  color:white;
}
.menu li:hover{
  background-color:white;
}
.menu li a:hover{
  color:#2969B0;
}
/* main */
main{
  margin:100px 0;
}
.myinfo img{
  width:90px;
}